body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexBtn {
  padding: 0.25rem 0.5rem;
  border: 3px solid white;
  border-radius: 10px;
  color: rgb(252, 188, 68);
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
}
.hexBtn:hover {
  background: rgb(0, 0, 0);
}
.container {
  text-align: center;
}
.hexColor {
  text-transform: capitalize;
}
.hex {
  font-size: 3rem;
}
